
    .starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

body {
    /*footer*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*fin*/
    font-family: "Lato", sans-serif;

}

h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

.navbar-brand{
    margin:0 2rem;
}

footer {
    background-color: #1B1F23;
}

main {
    flex: 1;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .nav-link {
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
}

h1, footer {
    color: #ffffff;
}

.verde-fondo {
    background-color: green !important;
}

.blanco-texto {
    color: white !important;
}

/* Vista actividadesFisicas */


.listaEjercicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.listaEjercicios > div {
    width: 30%;
    margin: 10px;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.listaEjercicios h2 {
    color: #333;
    font-size: 18px;
    margin-top: 10px;
}
.listaEjercicios p {
    color: #666;
    font-size: 14px;
    margin: 5px 0;
}
.listaEjercicios a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.listaEjercicios a:hover {
    color: green !important;
}
.bloqueBusqueda{
    padding: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.busqueda{
    display: flex;
    justify-content: space-around;
    width: 30rem;

}
.busqueda label{
font-size:1.5rem ;
    margin: 0.5rem;
}
.busqueda label {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.busqueda input {
    flex: 1;
    margin-right: 0.5rem;
}

.busqueda button {
    width: auto;
    margin: 0.5rem 0;
}
.advise {

    margin-right: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    width: 30em;
    height: auto;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.advise img {
    width: 5em;
    height: auto;
    margin-right: 20px;
}


.exercise-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.exercise-form label {
    display: block;
    margin-bottom: 10px;
}

.exercise-form input[type="text"] {
    width: calc(100% - 110px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.exercise-form button {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

.exercise-form button:hover {
    background-color: #218838;
}

/*Ejercicio*/

.formulario_actividad {
  align-content: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}
.titulos_ejercicio {
   font-size: 1.6rem;
    text-align: center;
    color: black;
}
/*recetas*/



.buscar-receta {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.busqueda-alimento {
    width: 70%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contenedor-busqueda button {
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.contenedor-busqueda button:hover {
    background-color: #0056b3;
}

.div-parrafos-receta{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.seccion-receta {
    width: 150px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
}

.seccion-receta img {
    border: 2px solid #4caf50;
    border-radius: 5px;
}

.titulo-receta {
    font-weight: bold;
    color: #007bff;
}

.contenedor-descripcion-recetas {
    border: 4px solid #4caf50;
    border-radius: 5px;
    padding: 20px;
}

.div-textos-receta {
    margin-left: 10px;
}

.contenedor-principal-receta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.contenedor-descripcion-recetas{
    display: flex;
    flex-direction: row;
}
.contenedor-recetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 9.5rem;
}
.seccion-receta{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.div-textos-receta{
    display: flex;
    flex-direction: column;
}

/*diarioEjercicio*/

.activo{
    background-color: #5FB92E !important;
    color: white !important;
}
/*Alimentos*/
.conEncabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid grey !important;
}
.conTitulo{
    color: #666666;
}

.conTitulo h1{
    color: #007bff;
}

.conAlimentosComunes{
    padding: 1rem;
    width: 75%;
}

.conAlimentosComunes h3{
    font-size: 1.5rem;
    color: #666666;
    border-bottom: 1px solid grey !important;
}

.conAlimentos{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.alimento{
    width: 45%;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
}

.alimento img{
    width: 100px;
    height: 100px;
}

.alimentoTexto{
    display: flex;
    flex-direction: column;
}

.alimentoTitulo{
    font-size: 1.2rem;
    font-weight: bold;
}

/*
descripcion recetas
*/

.row-receta{
    display: flex;
    flex-direction: row;
    align-content: space-between
}

.container-rec {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {

    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: auto;
}
    ul {
        list-style-type: none;
    }

    /*calendario*/
    .body-calendario {
        font-family: 'Lato', sans-serif;
    }

    .list-group-item {
        border-radius: 0; /* Bordes rectos para los elementos de la lista */
    }

    .card {
        border-radius: 15px; /* Bordes redondeados para la tarjeta */
    }

    .table {
        margin-bottom: 0; /* Eliminar margen inferior de la tabla */
    }

    .table th, .table td {
        vertical-align: middle; /* Centrar el contenido verticalmente */
    }

    .btn-primary {
        background-color: #28a745; /* Color verde */
        border-color: #28a745; /* Color del borde verde */
    }

    .card-title {

        color: #72a883;
    }
    .btn-primary:hover {
        background-color: #72a883;
        border-color: #72a883;
    }
    .lightgreen{
        background-color: lightgreen !important;
    }
    .btn-primary:disabled {
        opacity: 0.65;
    }

    .height{
        height: 70vh !important;
    }


