<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Actividad Fisica</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<div th:replace="navbar :: navbar"></div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="list-group flex-row">
                <a th:href="@{/home}" class="list-group-item list-group-item-action ">MI FATLOSS</a>
                <a th:href="@{/categoria_alimentos}" class="list-group-item list-group-item-action">ALIMENTOS</a>
                <a th:href="@{/recetas}" class="list-group-item list-group-item-action">RECETAS</a>
                <a th:href="@{/actividadesFisicas}" class="list-group-item list-group-item-action activo">EN FORMA</a>
                <a th:href="@{/estadisticasUsuario}" class="list-group-item list-group-item-action">ESTADISTICAS</a>
                <a th:href="@{/calendarioDieta}" class="list-group-item list-group-item-action">CALENDARIO</a>
                <a th:href="@{/comunidad}" class="list-group-item list-group-item-action">COMUNIDAD</a>
            </div>
        </div>
    </div>
</div>

<div style="margin-left: 20px; padding: 10px;">
    <p>
        <span><a th:href="@{/home}" style="color: green;">Home</a></span> > Ejercicios
    </p>
</div>




<div class="container-fluid my-5" style="min-height: 60vh;">
    <div class="d-flex flex-column justify-content-center my-1 mx-5">
        <div class="alert alert-warning alert-dismissible fade show" th:if="${unknown != null}">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Unknown: </strong><span th:text="${unknown}"></span>
        </div>
    </div>
    <div class="bloqueBusqueda">
        <div class="advise">
            <p>¿Sabías que el ejercicio físico no solo fortalece tus músculos, sino también tu cerebro?</p>
            <img th:src="@{/img/brainExercise.png}" class="img-fluid" alt="Importancia del Ejercicio">
        </div>
        <div class="busqueda">
            <form th:action="@{/buscarEjercicio}" method="GET">
                <label for="search">Buscador de Ejercicio</label>
                <input type="text" id="search" name="search" class="form-control" placeholder="Intensidad o Tipo de Ejercicio">
                <button type="submit" class="btn btn-success" >Buscar</button>
            </form>
        </div>
    </div>

<div class="listaEjercicios">
    <div th:each="ejercicio : ${listaEjercicios}" class="card">
        <div class="card-body">
            <form th:action="@{/irAEjercicio}" method="post">
                <input type="hidden" name="id" th:value="${ejercicio.id}" />
                <h2>
                    <button type="submit" class="card-title" th:text="${ejercicio.nombre}"></button>
                </h2>
                <p class="card-text">Intensidad: <span th:text="${ejercicio.intensidad}"></span></p>
                <p class="card-text">Calorías quemadas por hora: <span th:text="${ejercicio.caloriasQuemadasPorHora}"></span></p>
            </form>
        </div>
    </div>
</div>


</div>

<!-- Footer -->
<div th:replace="footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</body>
</html>