<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Actividad Fisica</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="list-group flex-row">
                <a th:href="@{/alimentos}" class="list-group-item list-group-item-action ">ALIMENTOS</a>
                <a th:href="@{/recetas}" class="list-group-item list-group-item-action">RECETAS</a>
                <a th:href="@{/actividadesFisicas}" class="list-group-item list-group-item-action activo">EN FORMA</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="bloqueBusqueda">
    <div class="advise">
        <p>¿Sabías que el ejercicio físico no solo fortalece tus músculos, sino también tu cerebro?</p>
        <img th:src="@{/img/brainExercise.png}" class="img-fluid" alt="Importancia del Ejercicio">
    </div>
<div class="busqueda">
    <form action="/buscar" method="get">
        <label  for="searchInput">Buscador de Ejercicio</label>
        <input type="text" id="searchInput" name="searchInput" class="form-control" placeholder="Intensidad o Tipo de Ejercicio">
        <button type="submit" class="btn btn-success">Buscar</button>
    </form>
</div>
</div>
    <div class="listaEjercicios">
        <div>
            <a  th:href="@{/ejercicio}" class="text-dark">Abdominales</a>
            <h2>Intensidad: Agotador</h2>
            <p>Peso de la persona: 56,6 kg</p>
            <p>EMT - 8,0, cals / hr - 475</p>
        </div>
        <div>
            <a  th:href="@{/ejercicio}" class="text-dark">Correr</a>
            <h2>Intensidad: Agotador</h2>
            <p>Peso de la persona: 56,6 kg</p>
            <p>EMT - 8,0, cals / hr - 475</p>
        </div>
        <div>
            <a  th:href="@{/ejercicio}" class="text-dark">Caminar</a>
            <h2>Intensidad: Moderada</h2>
            <p>Peso de la persona: 56,6 kg</p>
            <p>EMT - 8,0, cals / hr - 475</p>
        </div>
    </div>
</div>

<div class="espacio"></div>

<div th:replace="footer :: footer"></div>

<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</body>

</html>