<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora IDR</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div th:replace="navbar :: navbar"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="colacion" th:if="${desayuno != null}" th:with="alimentos=${desayuno}">
                <h4>Desayuno</h4>
                <div th:if="${desayuno.isEmpty()}">
                    <p>No hay alimentos para el desayuno aún.</p>
                </div>
                <div th:unless="${#lists.isEmpty(alimentos)}">
                    <ul class="list-unstyled">
                        <li th:each="alimento : ${alimentos}">
                            <a th:href="@{/alimentos/{id}(id=${alimento.id}, from='diarioAlimentos')}"
                               th:text="${alimento.cantidad + 'x ' + alimento.nombre}">Nombre del Alimento</a>
                            <a th:href="@{/diarioAlimentos/eliminarAlimento/{idAlimento}/{tipoColacion}/{fecha}(idAlimento=${alimento.id},tipoColacion=${tipoColacionDesayuno},fecha=${fecha})}" class="btn btn-danger eliminarAlimento">x</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="colacion" th:if="${almuerzo != null}" th:with="alimentos=${almuerzo}">
                <h4>Almuerzo</h4>
                <div th:if="${almuerzo.isEmpty()}">
                    <p>No hay alimentos para el almuerzo aún.</p>
                </div>
                <div th:unless="${#lists.isEmpty(alimentos)}">
                    <ul class="list-unstyled">
                        <li th:each="alimento : ${alimentos}">
                            <a th:href="@{/alimentos/{id}(id=${alimento.id}, from='diarioAlimentos')}"
                               th:text="${alimento.cantidad + 'x ' + alimento.nombre}">Nombre del Alimento</a>
                            <a th:href="@{/diarioAlimentos/eliminarAlimento/{idAlimento}/{tipoColacion}/{fecha}(idAlimento=${alimento.id},tipoColacion=${tipoColacionAlmuerzo},fecha=${fecha})}" class="btn btn-danger eliminarAlimento">x</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="colacion" th:if="${merienda != null}" th:with="alimentos=${merienda}">
                <h4>Merienda</h4>
                <div th:if="${merienda.isEmpty()}">
                    <p>No hay alimentos para la merienda aún.</p>
                </div>
                <div th:unless="${#lists.isEmpty(alimentos)}">
                    <ul class="list-unstyled">
                        <li th:each="alimento : ${alimentos}">
                            <a th:href="@{/alimentos/{id}(id=${alimento.id}, from='diarioAlimentos')}"
                               th:text="${alimento.cantidad + 'x ' + alimento.nombre}">Nombre del Alimento</a>
                            <a th:href="@{/diarioAlimentos/eliminarAlimento/{idAlimento}/{tipoColacion}/{fecha}(idAlimento=${alimento.id},tipoColacion=${tipoColacionMerienda},fecha=${fecha})}" class="btn btn-danger eliminarAlimento">x</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="colacion" th:if="${cena != null}" th:with="alimentos=${cena}">
                <h4>Cena</h4>
                <div th:if="${cena.isEmpty()}">
                    <p>No hay alimentos para la cena aún.</p>
                </div>
                <div th:unless="${#lists.isEmpty(alimentos)}">
                    <ul class="list-unstyled">
                        <li th:each="alimento : ${alimentos}">
                            <a th:href="@{/alimentos/{id}(id=${alimento.id}, from='diarioAlimentos')}"
                               th:text="${alimento.cantidad + 'x ' + alimento.nombre}">Nombre del Alimento</a>
                            <a th:href="@{/diarioAlimentos/eliminarAlimento/{idAlimento}/{tipoColacion}/{fecha}(idAlimento=${alimento.id},tipoColacion=${tipoColacionCena},fecha=${fecha})}" class="btn btn-danger eliminarAlimento" >x</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="colacion" th:if="${snacks != null}" th:with="alimentos=${snacks}">
                <h4>Snacks</h4>
                <div th:if="${snacks.isEmpty()}">
                    <p>No hay alimentos para snacks aún.</p>
                </div>
                <div th:unless="${#lists.isEmpty(alimentos)}">
                    <ul class="list-unstyled">
                        <li th:each="alimento : ${alimentos}">
                            <a th:href="@{/alimentos/{id}(id=${alimento.id}, from='diarioAlimentos')}"
                               th:text="${alimento.cantidad + 'x ' + alimento.nombre}">Nombre del Alimento</a>
                            <a th:href="@{/diarioAlimentos/eliminarAlimento/{idAlimento}/{tipoColacion}/{fecha}(idAlimento=${alimento.id},tipoColacion=${tipoColacionSnacks},fecha=${fecha})}" class="btn btn-danger eliminarAlimento">x</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div id="calendar">
                <div id="monthAndYear"></div>
                <button id="prevMonth">&lt;</button>
                <button id="nextMonth">&gt;</button>
                <table id="calendarTable">
                    <thead>
                    <tr>
                        <th>D</th>
                        <th>L</th>
                        <th>M</th>
                        <th>M</th>
                        <th>J</th>
                        <th>V</th>
                        <th>S</th>
                    </tr>
                    </thead>
                    <tbody id="calendarBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div th:replace="footer ::footer"></div>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var eliminarAlimentoButtons = document.getElementsByClassName('eliminarAlimento');
    for (var i = 0; i < eliminarAlimentoButtons.length; i++) {
        eliminarAlimentoButtons[i].addEventListener('click', function(event) {
            var confirmar = confirm('¿Está seguro de que desea eliminar este alimento?');
            if (!confirmar) {
                event.preventDefault();
            }
        });
    }
</script>
<script>
    let currentMonth = new Date().getMonth();
    let currentYear = new Date().getFullYear();

    document.getElementById('prevMonth').addEventListener('click', () => {
        currentMonth--;
        if (currentMonth < 0) {
            currentMonth = 11;
            currentYear--;
        }
        generateCalendar(currentMonth, currentYear);
    });

    document.getElementById('nextMonth').addEventListener('click', () => {
        currentMonth++;
        if (currentMonth > 11) {
            currentMonth = 0;
            currentYear++;
        }
        generateCalendar(currentMonth, currentYear);
    });

    function generateCalendar(month, year) {
        const monthAndYear = document.getElementById('monthAndYear');
        const calendarBody = document.getElementById('calendarBody');

        const date = new Date(year, month);
        const monthName = date.toLocaleString('default', { month: 'long' });
        monthAndYear.textContent = `${monthName} ${year}`;

        calendarBody.innerHTML = '';
        let dateNumber = 1;
        for (let i = 0; i < 6; i++) {
            const row = document.createElement('tr');
            for (let j = 0; j < 7; j++) {
                if (i === 0 && j < date.getDay()) {
                    const cell = document.createElement('td');
                    row.appendChild(cell);
                } else if (dateNumber > new Date(year, month + 1, 0).getDate()) {
                    break;
                } else {
                    const cell = document.createElement('td');
                    const link = document.createElement('a');
                    link.href = `/spring/diarioAlimentos/${year}-${month + 1}-${dateNumber}`;
                    link.textContent = dateNumber;
                    link.addEventListener('click', function(event) {
                        event.preventDefault();
                        window.location.href = this.href;
                    });
                    cell.appendChild(link);
                    row.appendChild(cell);
                    dateNumber++;
                }
            }
            calendarBody.appendChild(row);
        }
    }
    const today = new Date();
    generateCalendar(today.getMonth(), today.getFullYear());

</script>
<script>
    // Obtener la fecha actual
    var today = new Date();

    // Opciones para formatear la fecha
    var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

    // Formatear la fecha
    var formattedDate = today.toLocaleDateString('es-ES', options);

    // Mostrar la fecha en el elemento HTML
    document.getElementById('currentDate').innerText = formattedDate;

</script>
</body>
<style>


    .colacion {
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 10px;

    }
    #calendar {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    #calendarTable {
        width: 100%;
        border-collapse: collapse;
    }

    #calendarTable th {
        background-color: #f0f0f0;
    }

    #calendarTable td {
        height: 40px;
    }

    #calendarTable td:not(:empty):hover {
        background-color: #f0f0f0;
        cursor: pointer;
    }

    #prevMonth, #nextMonth {
        margin: 10px;
    }
</style>
</html>