<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Actividad</title>


     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <!-- Logo y nombre de la empresa -->
        <a th:href="@{/menuprincipal}" class="navbar-brand d-flex align-items-center " >

            <img th:src="@{/img/logo1.png}" alt="Logo de FatLoss" height="60" class="d-inline-block align-top">
            <h1 class="blanco-texto">FatLoss</h1>
        </a>
        <!-- Botón de colapso para dispositivos pequeños -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenido del navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto"> <!--  "ms-auto" para alinear a la derecha -->
                <!-- Saludo personalizado y enlaces -->
                <li class="nav-item">
                    <a th:href="@{/perfilUsuario}" class="nav-link" >Hola, Usuario X</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/ingresarPeso}" class="nav-link" >Mi peso X kg</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/inicio}" class="nav-link">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Fin del nav-->

<div class="container mt-4 ejercicio_cuadro">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-3 titulos_ejercicio">Estimación de Energía Quemada por Caminar (Lento)</h2>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Tiempo</th>
                        <th scope="col">Energía Quemada (Calorías)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5 minutos</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>10 minutos</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>15 minutos</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>30 minutos</td>
                        <td>59</td>
                    </tr>
                    <tr>
                        <td>1 hora</td>
                        <td>119</td>
                    </tr>
                    <tr>
                        <td>2 horas</td>
                        <td>238</td>
                    </tr>
                    <tr>
                        <td>3 horas</td>
                        <td>357</td>
                    </tr>
                    <tr>
                        <td>4 horas</td>
                        <td>475</td>
                    </tr>
                </tbody>
            </table>
        </div>
       <div class="col-md-6 formulario_actividad">
           <h2 class="titulos_ejercicio">Agregar Actividad a mi <br><a th:href="@{/diarioEjercicio}">Diario de Ejercicios</a></h2>
           <form>
               <div class="form-row">
                   <div class="form-group col-md-4">
                       <label for="dia">Día:</label>
                       <input type="number" class="form-control" id="dia" placeholder="Día" min="1" max="31">
                   </div>
                   <div class="form-group col-md-4">
                       <label for="mes">Mes:</label>
                       <input type="number" class="form-control" id="mes" placeholder="Mes" min="1" max="12">
                   </div>
                   <div class="form-group col-md-4">
                       <label for="año">Año:</label>
                       <input type="number" class="form-control" id="año" placeholder="Año" min="1900" max="2100">
                   </div>
               </div>
               <div class="form-group">
                   <label for="tiempo">Tiempo empleado:</label>
                   <div class="row">
                       <div class="col">
                           <input type="number" class="form-control" id="horas" placeholder="Horas" min="0">
                       </div>
                       <div class="col">
                           <input type="number" class="form-control" id="minutos" placeholder="Minutos" min="0" max="59">
                       </div>
                   </div>
               </div>
               <div class="form-group">
                   <label for="actividad">Cuéntanos cómo te sentiste:</label>
                   <textarea class="form-control" id="comentarios" rows="5" placeholder="Ingresa tus comentarios aquí..."></textarea>
               </div>
               <button type="submit" class="btn btn-primary">Guardar</button>
               <button type="button" class="btn btn-secondary">Cancelar</button>
           </form>

        </div>
    </div>
</div>


<script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js}"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>