<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer">
    <footer class="container-fluid mt-auto">
        <div class="row d-flex flex-wrap justify-content-between align-items-center py-3 px-3">
            <div class="col-md-4 d-flex justify-content-center align-items-center mb-1">
                <img th:src="@{/img/logo-mono_bg-color.png}" alt="logo-footer" width="80" height="80">
                <span class="fw-bold ms-3">&copy; fatloss, Aplicacion Nutricional</span>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center mb-1">
                <h5 class="fw-bold">Integrantes: </h5>
                <ul class="nav list-unstyled d-flex flex-column">
                    <li>Rodolfo Gutierrez - Gonzalo Flores</li>
                    <li>Milagros Chavez - Kevin Llombart</li>
                    <li>Joaquin Paiva</li>
                </ul>
            </div>
            <div class="col-md-2 d-flex flex-column justify-content-center align-items-center mb-1">
                <h5 class="fw-bold">Enlaces: </h5>
                <ul class="nav list-unstyled">
                    <li class="ms-3"><a href="https://github.com/GonzaloFlores1121/grupo4" target="_blank"><img th:src="@{/img/github.png}" alt="logo-github"></a></li>
                    <li class="ms-3"><a href="https://trello.com/w/grupo4tallerweb" target="_blank"><img th:src="@{/img/trello.png}" alt="logo-trello"></a></li>
                </ul>
            </div>
        </div>
    </footer> 
</div>
</body>
</html>