<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Detalles y Metas</title>
    <title>Formulario de Registro</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!--google-fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!--solo me anduvo en el html si lo pueden solucionar para ponerlo en el archivo css-->
    <style>
        input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>

</head>

 <!--header-->
 <nav class="navbar navbar-expand-sm" style="background-color: #ffffff;">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/inicio}">
            <h1 class="display-1" style="color: #5FB92E"><img th:src="@{/img/logo.png}" alt="logo" height="120px">   fatloss</h1>
        </a>
    </div>
</nav>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mt-4">Detalles Personales</h2>
        <form th:action="@{/enviarFormulario}" method="post" th:object="${usuario}">
            <div class="form-group">
                <label>Email:</label>
                <input type="email" class="form-control" th:field="*{email}" required>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" th:field="*{password}" required>
            </div>
            <div class="form-group">
                <label>Sexo:</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="femenino" th:field="*{genero}" value="femenino">
                    <label class="form-check-label" for="femenino">Femenino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="masculino" th:field="*{genero}" value="masculino">
                    <label class="form-check-label" for="masculino">Masculino</label>
                </div>
            </div>
            <div class="form-group">
                <label for="peso">Peso Actual:</label><br>
                <input type="number" class="form-control" id="peso" th:field="*{peso}" required> kg
            </div>
            <div class="form-group">
                <label for="altura">Altura:</label><br>
                <input type="number" class="form-control" id="altura" th:field="*{altura}" required> cm
            </div>
         <div class="form-group">
                        <label for="edad">Edad:</label><br>
                        <input type="number" class="form-control" id="edad" th:field="*{edad}" required>



            <div class="form-group">
                <label for="nivel_actividad">Nivel de Actividad:</label><br>
                <select class="form-control" id="nivel_actividad" th:field="*{nivelDeActividad}" required>
                     <option value="sedentario" th:value="sedentario">Sedentario</option>
                        <option value="baja_actividad" th:value="baja_actividad">Baja Actividad</option>
                        <option value="activo" th:value="activo">Activo</option>
                        <option value="muy_activo" th:value="muy_activo">Muy Activo</option>
                </select>

                    <div class="row">
                        <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <input class="btn btn-outline-success m-5" type="submit" name="enviar" id="enviar" value="Enviar">
                            </div>
                        </div>
                        <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <a class="btn btn-outline-success m-5" th:href="@{/inicio}">Cancelar</a>
                            </div>
                        </div>
                    </div>
                    <!--alerta-error(puede llegar a presentar algun error al apretar la x para
                        cerrarlo por ser un button y estar dentro de un form)-->
                    <div class="d-flex flex-column justify-content-center m-3">
                        <div class="alert alert-danger alert-dismissible fade show" th:if="${error != null}">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <strong>Error: </strong><span th:text="${error}"></span>
                        </div>
                    </div>
                </form>
            </div>


    </div>
</div>


<script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js}"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
    <!--footer-->
    <footer class="container-fluid mt-auto py-2">
        <div class="row d-flex align-items-center">
            <div class="col-sm-2 d-flex justify-content-center justify-content-sm-end justify-content-md-end
            justify-content-lg-end justify-content-xl-end justify-content-xxl-end py-2">
                <img th:src="@{/img/logo-mono_bg-color.png}" alt="logo" height="140px">
            </div>
            <div class="col-sm-5 d-flex flex-column justify-content-star">
                <h4>TP Taller Web I: fatloss</h4>
                <p><img th:src="@{/img/github.png}" alt="logo-github"> Github:  <a class="text-break" href="https://github.com/GonzaloFlores1121/grupo4" target="_blank">https://github.com/GonzaloFlores1121/grupo4</a></p>
                <p><img th:src="@{/img/trello.png}" alt="logo-trello"> Trello:  <a class="text-break" href="https://trello.com/w/grupo4tallerweb" target="_blank">https://trello.com/w/grupo4tallerweb</a></p>
            </div>
            <div class="col-sm-5 d-flex flex-column justify-content-star">
                <h5>Integrantes: </h5>
                <p>Rodolfo Gutierrez - Gonzalo Flores</p>
                <p>Milagros Chavez - Kevin Llombart</p>
                <p>Joaquin Paiva</p>
            </div>
        </div>
    </footer>

</body>
</html>
