<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora IDR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--header/nav-->
<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/menuprincipal}">
            <h1><img th:src="@{/img/logo_bg-color.png}" alt="logo" height="100px">   fatloss</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" th:text="${usuario}"></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item active" th:href="@{#}">Perfil</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Configuracion</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Notificaciones</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Mi Calendario</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Dieta</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Alimentacion</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Ejercicios</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Mi Historial</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Mi historial de Peso</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Libro de Cocina</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/inicio}">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h1 class="text-center">Mi Ingesta Diaria Recomendada (IDR)</h1>
    <p class="lead text-center">LU. 06 MAY 2024</p>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr>
                    <td>IDR actual</td>
                    <td><p>180</p></td>
                </tr>
                <tr>
                    <td>Edad</td>
                    <td>19</td>
                </tr>
                <tr>
                    <td>Peso</td>
                    <td>56.6 kg</td>
                </tr>
                <tr>
                    <td>Altura</td>
                    <td>150 cm</td>
                </tr>
                <tr>
                    <td>Dieta Objetivo</td>
                    <td>Perder Peso Lentamente</td>
                </tr>
                <tr>
                    <td>Nivel de Actividad</td>
                    <td>Sedentario</td>
                </tr>
                <tr>
                    <td>Grasa a consumir</td>
                    <td><p></p></td>
                </tr>
                <tr>
                    <td>Cabohidratos a consumir</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Proteinas a consumir</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


<footer class="container-fluid mt-auto py-2">
    <div class="row d-flex align-items-center">
        <div class="col-sm-2 d-flex justify-content-center justify-content-sm-end justify-content-md-end
            justify-content-lg-end justify-content-xl-end justify-content-xxl-end py-2">
            <img th:src="@{/img/logo-mono_bg-color.png}" alt="logo" height="80px">
        </div>
        <div class="col-sm-5 d-flex flex-column justify-content-star">
            <h4>TP Taller Web I: fatloss</h4>
            <p><img th:src="@{/img/github.png}" alt="logo-github"> Github:  <a class="text-break" href="https://github.com/GonzaloFlores1121/grupo4" target="_blank">https://github.com/GonzaloFlores1121/grupo4</a></p>
            <p><img th:src="@{/img/trello.png}" alt="logo-trello"> Trello:  <a class="text-break" href="https://trello.com/w/grupo4tallerweb" target="_blank">https://trello.com/w/grupo4tallerweb</a></p>
        </div>
        <div class="col-sm-5 d-flex flex-column justify-content-star">
            <h5>Integrantes: </h5>
            <p>Rodolfo Gutierrez - Gonzalo Flores</p>
            <p>Milagros Chavez - Kevin Llombart</p>
            <p>Joaquin Paiva</p>
        </div>
    </div>
</footer>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>