<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--google-fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<style>
    .eliminarAlimento {
        color: #333;
        font-size: 1.2em;
        text-decoration: none;
        margin-left: 10px;
    }

    .eliminarAlimento:hover {
        color: #fff;
        background-color: #000;
    }
    .card-text {
        padding-right: 20px;
    }
    .food-name{
        font-family: 'Arial', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        color: #5FB92E;
    }
</style>
<body>

    <div th:replace="navbar :: navbar"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="list-group flex-row justify-content-center">
                    <a th:href="@{/home}" class="list-group-item list-group-item-action ">MI FATLOSS</a>
                    <a th:href="@{/categoria_alimentos}" class="list-group-item list-group-item-action">ALIMENTOS</a>
                    <a th:href="@{/recetas}" class="list-group-item list-group-item-action">RECETAS</a>
                    <a th:href="@{/actividadesFisicas}" class="list-group-item list-group-item-action">EN FORMA</a>
                    <a th:href="@{/estadisticasUsuario}" class="list-group-item list-group-item-action">ESTADISTICAS</a>
                    <a th:href="@{/calendarioDieta}" class="list-group-item list-group-item-action activo">CALENDARIO</a>
                    <a th:href="@{/comunidad}" class="list-group-item list-group-item-action">COMUNIDAD</a>
                </div>
            </div>
        </div>

                <div style="margin-left: 20px; padding: 10px;">
                    <p>
                        <span><a th:href="@{/home}" style="color: green;">Home</a></span> >
                        <span><a th:href="@{/calendarioDieta}" style="color: green;">Calendario</a></span> > Mis alimentos
                    </p>
                </div>

        <div th:if="${mensajeAlimentoModificado}" class="alert alert-success alert-dismissible fade show mensajesPersonalizados" role="alert">
            <p th:text="${mensajeAlimentoModificado}"></p>
        </div>
        <div th:if="${mensajeAlimentoAgregado}" class="alert alert-success alert-dismissible fade show mensajesPersonalizados" role="alert">
            <p th:text="${mensajeAlimentoAgregado}"></p>
        </div>
        <div th:if="${mensajeAlimentoEliminado}" class="alert alert-success alert-dismissible fade show mensajesPersonalizados" role="alert">
            <p th:text="${mensajeAlimentoEliminado}"></p>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2>Alimentos consumidos el <span th:text="${fechaFormateada}"></span></h2>
                    <div th:if="${colaciones.isEmpty()}" class="alert alert-info">
                        No hay alimentos agregados aún.
                    </div>
                    <div th:each="colacion : ${colaciones}" class="card mb-3" th:unless="${colaciones.isEmpty()}">
                        <div class="card-body">
                            <a th:href="@{/misAlimentos/eliminarAlimento/{idAlimento}/{tipoColacion}/{fecha}(idAlimento=${colacion.alimentos.id},tipoColacion=${colacion.tipo},fecha=${fecha})}" class="btn eliminarAlimento float-end" onclick="return confirmDelete()">x</a>
                            <h5 class="card-title">
                                <a th:href="@{/alimentos/{id}(id=${colacion.alimentos.id}, from='misAlimentos')}">
                                    <span class="food-name" th:text="${colacion.alimentos.nombre}"></span>
                                </a>
                            </h5>
                            <p class="card-text">
                                <span th:text="'Cantidad consumida: ' + ${colacion.alimentos.cantidad}"></span><br>
                                <span th:text="'Calorias: ' + ${colacion.alimentos.energia}"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            function confirmDelete() {
                return confirm('¿Estás seguro de que quieres eliminar este alimento?');
            }
    </script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('.mensajesPersonalizados').fadeOut('slow');
            }, 3000); //
        });
    </script>
</body>
</html>