<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap" rel="stylesheet">
</head>
<style>
    .eliminarEjercicio {
        color: #333;
        font-size: 1.2em;
        text-decoration: none;
        margin-left: 10px;
    }

    .eliminarEjercicio:hover {
        color: #fff;
        background-color: #000;
    }
.exercise-name{
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #5FB92E;
}
</style>
<body>
    <div th:replace="navbar :: navbar"></div>

    <div class="d-flex flex-column min-vh-100">
        <div class="container flex-grow-1">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="list-group flex-row justify-content-center">
                        <a th:href="@{/home}" class="list-group-item list-group-item-action">MI FATLOSS</a>
                        <a th:href="@{/categoria_alimentos}" class="list-group-item list-group-item-action">ALIMENTOS</a>
                        <a th:href="@{/recetas}" class="list-group-item list-group-item-action">RECETAS</a>
                        <a th:href="@{/actividadesFisicas}" class="list-group-item list-group-item-action">EN FORMA</a>
                        <a th:href="@{/estadisticasUsuario}" class="list-group-item list-group-item-action">ESTADISTICAS</a>
                        <a th:href="@{/calendarioDieta}" class="list-group-item list-group-item-action activo">CALENDARIO</a>
                        <a th:href="@{/comunidad}" class="list-group-item list-group-item-action">COMUNIDAD</a>
                    </div>
                </div>
            </div>

            <div style="margin-left: 20px; padding: 10px;">
                <p>
                    <span><a th:href="@{/home}" style="color: green;">Home</a></span> >
                    <span><a th:href="@{/calendarioDieta}" style="color: green;">Calendario</a></span> > Mis ejercicios
                </p>
            </div>

            <div th:if="${mensajeEjercicioAgregado}" class="alert alert-success mensajesPersonalizados" role="alert">
                <p th:text="${mensajeEjercicioAgregado}"></p>
            </div>

            <div th:if="${mensajeEjercicioEliminadoCorrectamente}" class="alert alert-success mensajesPersonalizados" role="alert">
                <p th:text="${mensajeEjercicioEliminadoCorrectamente}"></p>
            </div>

            <div class="container" style="min-height: 80vh;">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h2>Mis ejercicios <span th:text="${fechaFormateada}"></span></h2>
                        <div th:if="${#lists.isEmpty(ejercicios)}" class="alert alert-info">
                            No hay ejercicios agregados aún.
                        </div>
                        <div th:each="ejercicio : ${ejercicios}" class="card mb-3">
                            <div class="card-body custom-card">
                                <a th:href="@{/misEjercicios/eliminarEjercicio/{idEjercicioUsuario}/{fecha}/(idEjercicioUsuario=${ejercicio.id},fecha=${fecha})}"
                                   class="btn eliminarEjercicio float-end" onclick="return confirmDelete()">x</a>
                                <h5 class="card-title exercise-name" th:text="${ejercicio.ejercicio.nombre}"></h5>
                                <p class="card-text">
                                    <span th:text="'Minutos empleados: ' + ${ejercicio.minutos}"></span><br>
                                    <span th:text="'Calorias quemadas: ' + ${ejercicio.caloriasQuemadas}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="footer :: footer"></div>
    <script>
        function confirmDelete() {
            return confirm('¿Estás seguro de que quieres eliminar este ejercicio?');
        }

    </script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('.mensajesPersonalizados').fadeOut('slow');
            }, 3000); //
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
