<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="navbar">
<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/menuprincipal}">
            <h1 class="display-3" style="font-weight: bold;"><img th:src="@{/img/logo_bg-color.png}" alt="logo" height="120px">fatloss</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" th:text="${usuario.nombre} ? ${usuario.nombre}"></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{perfilUsuario}">Perfil</a></li>
                        <li><a class="dropdown-item" th:href="@{configuracion}">Configuracion</a></li>
                        <li><a class="dropdown-item" th:href="@{notificaciones}">Notificaciones</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Mi Calendario</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{calendarioDieta}">Dieta</a></li>
                        <li><a class="dropdown-item" th:href="@{alimentos}">Alimentacion</a></li>
                        <li><a class="dropdown-item" th:href="@{ejercicio}">Ejercicios</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Mi Historial</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Mi historial de Peso</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Libro de Cocina</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/inicio}">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
</body>
</html>