<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="navbar">
<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">
            <h1 class="display 3 fw-bold"><img th:src="@{/img/logo_bg-color.png}" alt="logo" height="100px">fatloss</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" th:text="${usuario} ? ${usuario.nombre}: 'Datos Usuario'"></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/perfilUsuario}">Perfil</a></li>
                        <li><a class="dropdown-item" th:href="@{/publicacionesUsuario/{id}(id=${usuario.id})}">Publicaciones</a></li>
                        <li><a class="dropdown-item" th:href="@{/seguidores}">Seguidores</a></li>
                        <li><a class="dropdown-item" th:href="@{/notificaciones}">Notificaciones</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" th:href="@{/inicio}">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
</body>
</html>