<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="navbar">
    <header class="container-fluid" style="background-color: #5FB92E;">
        <div class="px-3 py-3">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a th:href="@{/home}" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <img th:src="@{/img/logo_bg-color.png}" alt="logo-header" width="80" height="80">
                    <h1 class="ms-3 fw-bold text-white">fatloss</h1>
                </a>
                <div class="dropdown text-end d-flex flex-wrap justify-content-center align-items-center ms-auto">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:if="${usuario != null}" th:src="@{'/img/' + ${usuario.imagen}}" alt="profile-picture" width="32" height="32" class="rounded-circle">
                        <img th:if="${usuario == null}" th:src="@{/img/icono-perfil-1.png}" alt="profile-picture" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu gap-1 p-2 rounded-3 mx-0 border-0 shadow w-220px">
                        <li><a class="dropdown-item rounded-2" th:href="@{/perfilUsuario}">Perfil</a></li>
                        <li><a class="dropdown-item rounded-2" th:href="@{/seguidores}">Seguidores</a></li>
                        <li><a class="dropdown-item rounded-2" th:href="@{/notificaciones}">Notificaciones</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item rounded-2" th:href="@{/inicio}">Cerrar sesion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

</body>
</html>