<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Notificaciones</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    <style>
        .las-notificacion {
            height: 240px;
            padding: 80px;
            margin-bottom: 10px;
            background-size: contain;
            background-position:center;
            background-repeat: no-repeat;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <!-- Logo y nombre de la empresa -->
            <a th:href="@{/menuprincipal}" class="navbar-brand d-flex align-items-center " >
    
                <img th:src="@{/img/logo1.png}" alt="Logo de FatLoss" height="60" class="d-inline-block align-top">
                <h1 class="blanco-texto">FatLoss</h1>
            </a>
            <!-- Botón de colapso para dispositivos pequeños -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Contenido del navbar -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto"> <!--  "ms-auto" para alinear a la derecha -->
                    <!-- Saludo personalizado y enlaces -->
                    <li class="nav-item">
                        <a th:href="@{/perfilUsuario}" class="nav-link" >Hola, Usuario X</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/ingresarPeso}" class="nav-link" >Mi peso X kg</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/inicio}" class="nav-link">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Fin del nav-->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 class="text-center">Notificaciones</h3>
                <div th:each="notificacion : ${notificaciones}" class="las-notificacion" th:style="'background-image: url(\'' + @{/img/fondo-notificacion.png} + '\')'">
                    <strong th:text="${notificacion.key}"></strong>:<br> <span th:text="${notificacion.value}"></span>
                </div>                
            </div>
        </div>
    </div>
        

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>