<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!--google-fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <div th:replace="navbar :: navbar"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-group flex-row">
                    <a th:href="@{/home}" class="list-group-item list-group-item-action">MI FATLOSS</a>
                    <a th:href="@{/categoria_alimentos}" class="list-group-item list-group-item-action ">ALIMENTOS</a>
                    <a th:href="@{/recetas}" class="list-group-item list-group-item-action">RECETAS</a>
                    <a th:href="@{/actividadesFisicas}" class="list-group-item list-group-item-action">EN FORMA</a>
                    <a th:href="@{/estadisticasUsuario}" class="list-group-item list-group-item-action">ESTADISTICAS</a>
                    <a th:href="@{/calendarioDieta}" class="list-group-item list-group-item-action">CALENDARIO</a>
                    <a th:href="@{/comunidad}" class="list-group-item list-group-item-action">COMUNIDAD</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ms-2 p-2">
        <h6 class="fw-bold"><a th:href="@{/home}" style="color: #5FB92E;">Home</a> > Mi perfil</h6>
    </div>

    <div class="offcanvas offcanvas-start text-bg-dark" id="cambiarAvatar">
        <div class="offcanvas-header my-2 mx-2">
            <h3 class="fw-bold">Cambiar Avatar</h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body mx-2">
            <form th:action="@{/procesarImagen}" method="post" th:object="${usuario}" th:inline="javascript"> 
                <div class="form-floating mb-2">
                    <select class="form-control" th:field="*{imagen}" onchange="changeImage(this)" id="imagen" name="imagen">
                        <option th:each="imagen : ${imagenes}" th:value="${imagen.value}" th:selected="${imagen.value == usuario.imagen}" th:text="${imagen.key}"></option>
                    </select>
                    <label for="imagen">Elige un Avatar:</label>
                    <div class="container p-4">
                        <img class="img-fluid rounded-circle" id="mostrarAvatar" name="mostrarAvatar" th:src="@{'/img/' + ${usuario.imagen}}" alt="img-seleccionada">
                    </div>                    
                </div>
                <div class="mb-2 d-flex justify-content-center align-items-center">
                    <input class="btn btn-success" type="submit" id="guardar" name="guardar" value="Guadar">
                </div>              
            </form>
        </div>
    </div>

    <main class="container my-5"> 
        <div class="row d-flex align-items-center">
            <div class="col-md-4 d-flex flex-column justify-content-center my-3">
                <h3 class="text-center fw-bold">Mi Avatar</h3>
                <img class="img-fluid" th:src="@{'/img/' + ${usuario.imagen}}" alt="avatar-img">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#cambiarAvatar">Cambiar Avatar</button>
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="text-center fw-bold">Mi Perfil</h2>
                <div class="card border border-1 border-dark rounded" th:style="'background-image: url(\'' + @{/img/background.png} + '\'); background-size: cover;'">
                    <div class="card-body">
                        <h4 class="card-title text-white fw-bold" th:text="${usuario.nombre}"></h4>
                        <h4 class="card-title text-white fw-bold" th:text="${usuario.email}"></h4>
                        <p class="card-text fw-bold">Edad: <span th:text="${usuario.edad}+' anios'"></span></p>
                        <p class="card-text fw-bold">Genero: <span th:text="${usuario.genero}"></span></p>
                        <p class="card-text fw-bold">Altura: <span th:text="${usuario.altura}+' cm'"></span></p>
                        <p class="card-text fw-bold">Peso: <span th:text="${usuario.peso}+' kg'"></span></p>
                        <p class="card-text fw-bold">Peso Meta: <span th:text="${usuario.metaAlcanzarPeso}+' kg'"></span></p>
                        <p class="card-text fw-bold">Nivel de Actividad Fisica: <span th:text="${usuario.nivelDeActividad}"></span></p>
                        <a class="btn btn-warning" th:href="@{/formularioEditarPerfil}">Editar Perfil</a>
                        <a class="btn btn-success" th:href="@{/publicacionesUsuario/{id}(id=${usuario.id})}">Ver Publicaciones</a>
                        <a class="btn btn-success" th:href="@{/desafiosUsuario/{id}(id=${usuario.id})}">Ver Desafios</a>
                    </div>
                </div>  
            </div>
        </div>        
    </main>
    
    <div th:replace="footer :: footer"></div>

    <script type="text/javascript">
        function changeImage(selectElement) {
            var selectedValue = selectElement.value;
            var imageUrl = document.getElementById("mostrarAvatar").getAttribute("src").slice(0, -18);
            var imageElement = document.getElementById("mostrarAvatar");
            imageElement.src = imageUrl + selectedValue;
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>