<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recetas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!--google-fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/menuprincipal}">
            <h1><img th:src="@{/img/logo_bg-color.png}" alt="logo" height="100px">   fatloss</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" th:text="${usuario}"></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item active" th:href="@{#}">Perfil</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Configuracion</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Notificaciones</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Mi Calendario</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Dieta</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Alimentacion</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Ejercicios</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Mi Historial</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Mi historial de Peso</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Libro de Cocina</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/inicio}">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="list-group flex-row">
                <a th:href="@{/alimentos}" class="list-group-item list-group-item-action">ALIMENTOS</a>
                <a th:href="@{/recetas}" class="list-group-item list-group-item-action activo">RECETAS</a>
                <a th:href="@{/actividadesFisicas}" class="list-group-item list-group-item-action">EN FORMA</a>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="conEncabezado">
        <div class="contenedor-descripcion-recetas">
            <img th:src="@{/img/icono-cocina.png}" alt="icono-recetas" width="100px" height="100px">
            <div class="div-parrafos-receta">
                <p class="titulo-receta">Recetas</p>
                <p>Encuentre recetas perfectas para su dieta!</p>
            </div>
        </div>
        <div class="contenedor-busqueda">
            <label class="buscar-receta"> Encuentre el alimento que buscas!
                <div>
                    <input class="busqueda-alimento" name="busqueda-alimento" type="text">
                    <button type="submit">buscar</button>
                </div>
            </label>
        </div>
    </div>
    <div class="contenedor-principal-receta">
        <div class="contenedor-recetas">
            <div class="seccion-receta">
                <img th:src="@{/img/receta-quinoa.jpg}" alt="receta" width="100px" height="50px">
                <div class="div-textos-receta">
                    <a  th:src="@{/descripcionRecetas}" class="titulo-receta">Ensalada de quinoa con vegetales asados</a>
                    <p>Una receta facil y rapida</p>
                </div>
            </div>
            <div class="seccion-receta">
                <img th:src="@{/img/receta2.jpg}" alt="receta" width="100px" height="100px">
                <div class="div-textos-receta">
                    <p class="titulo-receta">Trufas de banana y chocolate</p>
                    <p>bajo en carbohidratos y deliciosa</p>
                </div>
            </div>
            <div class="seccion-receta">
                <img th:src="@{/img/receta3.jpg}" alt="receta" width="100px" height="100px">
                <div class="div-textos-receta">
                    <p class="titulo-receta">Ensalada con huevo</p>
                    <p>Una receta sana y facil de hacer</p>
                </div>
            </div>
            <div class="seccion-receta">
                <img th:src="@{/img/receta4.jpg}" alt="receta" width="100px" height="100px">
                <div class="div-textos-receta">
                    <p class="titulo-receta">Arroz con pollo</p>
                    <p>Perfecto para subir volumen</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid mt-auto py-2">
    <div class="row d-flex align-items-center">
        <div class="col-sm-2 d-flex justify-content-center justify-content-sm-end justify-content-md-end
            justify-content-lg-end justify-content-xl-end justify-content-xxl-end py-2">
            <img th:src="@{/img/logo-mono_bg-color.png}" alt="logo" height="80px">
        </div>
        <div class="col-sm-5 d-flex flex-column justify-content-star">
            <h4>TP Taller Web I: fatloss</h4>
            <p><img th:src="@{/img/github.png}" alt="logo-github"> Github:  <a class="text-break" href="https://github.com/GonzaloFlores1121/grupo4" target="_blank">https://github.com/GonzaloFlores1121/grupo4</a></p>
            <p><img th:src="@{/img/trello.png}" alt="logo-trello"> Trello:  <a class="text-break" href="https://trello.com/w/grupo4tallerweb" target="_blank">https://trello.com/w/grupo4tallerweb</a></p>
        </div>
        <div class="col-sm-5 d-flex flex-column justify-content-star">
            <h5>Integrantes: </h5>
            <p>Rodolfo Gutierrez - Gonzalo Flores</p>
            <p>Milagros Chavez - Kevin Llombart</p>
            <p>Joaquin Paiva</p>
        </div>
    </div>
</footer>
</body>
</html>