<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recetas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="list-group flex-row">
                <a th:href="@{/home}" class="list-group-item list-group-item-action ">MI FATLOSS</a>
                <a th:href="@{/categoria_alimentos}" class="list-group-item list-group-item-action">ALIMENTOS</a>
                <a th:href="@{/recetas}" class="list-group-item list-group-item-action activo">RECETAS</a>
                <a th:href="@{/actividadesFisicas}" class="list-group-item list-group-item-action">EN FORMA</a>
                <a th:href="@{/estadisticasUsuario}" class="list-group-item list-group-item-action">ESTADISTICAS</a>
                <a th:href="@{/calendarioDieta}" class="list-group-item list-group-item-action">CALENDARIO</a>
                <a th:href="@{/comunidad}" class="list-group-item list-group-item-action">COMUNIDAD</a>
            </div>
        </div>
    </div>
</div>

<div style="margin-left: 20px; padding: 10px;">
    <p>
        <span><a th:href="@{/home}" style="color: green;">Home</a></span> > Recetas
    </p>
</div>

<div class="d-flex flex-row justify-content-around">
<div class="d-flex align-items-center">
    <div class="contenedor-principal-receta">
        <div class="contenedor-descripcion-recetas">
            <img th:src="@{/img/icono-cocina.png}" alt="icono-recetas" width="100px" height="100px">
            <div class="div-parrafos-receta">
                <p class="titulo-receta">Recetas</p>
                <p>Encuentre recetas perfectas para su dieta!</p>
            </div>
        </div>
    </div>
</div>
<aside>
    <div class="d-flex align-items-center">
        <div class="contenedor-principal-receta">
            <div class="contenedor-descripcion-recetas">
                <img th:src="@{/img/iconoFavoritos.png}" alt="icono-recetas" width="100px" height="100px">
                <div class="div-parrafos-receta">
                    <p class="titulo-receta">Recetas</p>
                    <p>Dale un vistazo a tus recetas favoritas!</p>
                    <a th:href="@{/recetasFavoritas}" class="btn btn-primary">Ver Recetas Favoritas</a>
                </div>
            </div>
        </div>
    </div>
</aside>
</div>

<div class="container-fluid my-5 d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="row" style="padding-left: 110px;">
        <div th:each="receta : ${recetas}" class="col-md-4 d-flex justify-content-center my-5">
            <div class="card text-center" style="width: 18rem; min-height: 24rem;">
                <img th:src="@{'/img/recetas/' + ${receta.imagen}}" class="card-img-top mx-auto d-block img-fluid" alt="receta_imagen" style="max-height: 200px;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">
                        <a th:href="@{/recetas/{id}(id=${receta.id})}" th:text="${receta.nombre}" class="card-title text-center"></a>
                    </h5>
                    <p class="card-text" th:text="${receta.descripcion}"></p>
                    <div class="mt-auto">
                        <a th:href="@{/agregarAFavoritos/{id}(id=${receta.id})}">
                            <button class="boton-fav">Agregar a favoritos</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
